body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#339933;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:42px;
  width:183px;
  height:18px;
  font-size:14px;
  color:#339933;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:182px;
  width:925px;
  height:592px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:683px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:91px;
  width:925px;
  height:683px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:334px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:457px;
  width:186px;
  height:18px;
  font-size:14px;
  color:#FF9900;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:194px;
  width:397px;
  height:35px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:251px;
  width:172px;
  height:270px;
}
#u1234_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:178px;
  height:276px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:275px;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:172px;
  height:30px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:172px;
  height:30px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:172px;
  height:30px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:172px;
  height:30px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:172px;
  height:30px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:172px;
  height:30px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:172px;
  height:30px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:172px;
  height:30px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:376px;
  width:73px;
  height:18px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:355px;
  width:100px;
  height:16px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1256_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:381px;
  width:100px;
  height:16px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1258_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:407px;
  width:100px;
  height:16px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1260_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:315px;
  width:73px;
  height:18px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:559px;
  width:140px;
  height:40px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:457px;
  width:102px;
  height:18px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:450px;
  width:300px;
  height:25px;
}
#u1268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:315px;
  width:63px;
  height:18px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:359px;
  width:188px;
  height:53px;
  font-size:14px;
  color:#FF9900;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
