body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:657px;
  background:inherit;
  background-color:rgba(180, 159, 113, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:61px;
  width:845px;
  height:657px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:76px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:76px;
  width:30px;
  height:30px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:76px;
  width:30px;
  height:30px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:84px;
  width:30px;
  height:15px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:2px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:116px;
  width:846px;
  height:1px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:127px;
  width:113px;
  height:13px;
  font-size:11px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
  background:inherit;
  background-color:rgba(180, 159, 113, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF66;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:120px;
  width:158px;
  height:28px;
  color:#FFFF66;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:236px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:150px;
  width:197px;
  height:236px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:161px;
  width:44px;
  height:18px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:194px;
  width:44px;
  height:18px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:234px;
  width:44px;
  height:18px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:268px;
  width:44px;
  height:18px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:305px;
  width:44px;
  height:18px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:344px;
  width:73px;
  height:18px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:161px;
  width:44px;
  height:18px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:194px;
  width:30px;
  height:18px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:234px;
  width:87px;
  height:15px;
  font-size:13px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:268px;
  width:59px;
  height:18px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:305px;
  width:15px;
  height:18px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:344px;
  width:36px;
  height:18px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:692px;
  width:102px;
  height:18px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:692px;
  width:102px;
  height:18px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:692px;
  width:190px;
  height:18px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:441px;
  width:1px;
  height:16px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:413px;
  width:102px;
  height:18px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:441px;
  width:605px;
  height:235px;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:92px;
  height:30px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:89px;
  height:30px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:69px;
  height:30px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:135px;
  height:30px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:0px;
  width:141px;
  height:30px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:74px;
  height:50px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:30px;
  width:92px;
  height:50px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:30px;
  width:89px;
  height:50px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:30px;
  width:69px;
  height:50px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:30px;
  width:135px;
  height:50px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:30px;
  width:141px;
  height:50px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:137px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:74px;
  height:50px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:80px;
  width:92px;
  height:50px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:80px;
  width:89px;
  height:50px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:80px;
  width:69px;
  height:50px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:80px;
  width:135px;
  height:50px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:80px;
  width:141px;
  height:50px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:137px;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:74px;
  height:50px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:130px;
  width:92px;
  height:50px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:130px;
  width:89px;
  height:50px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:130px;
  width:69px;
  height:50px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:130px;
  width:135px;
  height:50px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:130px;
  width:141px;
  height:50px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:137px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:74px;
  height:50px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:180px;
  width:92px;
  height:50px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:180px;
  width:89px;
  height:50px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:180px;
  width:69px;
  height:50px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:180px;
  width:135px;
  height:50px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:180px;
  width:141px;
  height:50px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:137px;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:568px;
  background:inherit;
  background-color:rgba(86, 105, 135, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:150px;
  width:225px;
  height:568px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(176, 112, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:150px;
  width:225px;
  height:40px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(176, 112, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:342px;
  width:225px;
  height:40px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:242px;
  width:225px;
  height:26px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:268px;
  width:225px;
  height:26px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:294px;
  width:225px;
  height:26px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:320px;
  width:225px;
  height:26px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
  background:inherit;
  background-color:rgba(86, 105, 135, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:382px;
  width:225px;
  height:26px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
  background:inherit;
  background-color:rgba(86, 105, 135, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:418px;
  width:225px;
  height:26px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:444px;
  width:225px;
  height:26px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:216px;
  width:225px;
  height:26px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:190px;
  width:225px;
  height:26px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
